.form_heading,
.page_heading {
  text-align: center;
  margin: 20px auto;
}

.pokemon_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  width: 200px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.pokemon_name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.pokemon_image {
  width: 100%;
  height: auto;
}
